<div class='sidebar-menu'>
	<div class="sidebar-toggler"></div>
	<div class="webapp-tab">
		<ul>
			<li>WEB</li>
			<li>APP</li>
		</ul>
	</div>
	<div class="menubar">
		<div class="option">
			<ul>
				<li>
					<a href='javascript:'>
						<i class="icon"></i>
						<span class="title">模板管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href='javascript:'>
								模板管理系统
								<span class="arrow"></span>
							</a>
								<ul class="sub-menu">
									<li>
										<a href='javascript:'>
											模板管理系统
											<span class="arrow"></span>
										</a>
									</li>
								</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="option">

		</div>
	</div>
</div>