@import 'global.scss';
body{ height:100%; }
i{

	&.add{ height:$s40; width:$s40; display:block; position:relative; border-radius:$s50;background:#d00000;
		&:before,&:after{content:''; height:$s6; width:$s28; display:block; background:#fff; border-radius:$s10; position:absolute; top:$s17; left:$s6;}
		&:after{height:$s28; width:$s6; top:$s6; left:$s17;}
		&:hover{ background:#ed0000}
	}
}
#app{ height:100%;
	.view{ height:100%; height:100%; @include box; @include box-orient;
	}
}
#Header{ @include box;
	height:$s35; line-height: 2.8125rem; padding:0 $s10; border-bottom: $s1 solid #ccc; background:#212121;
	>div{ @include box-flex; color:#fff; line-height:$s35; font-size:$s12;
		a{ color:#fff;}
		&:last-child{ text-align:right;}
		&.user-info{
			img{ display:inline-block; width:$s25; height:$s25; vertical-align:middle; }
		}
	}
	img{
		margin-top:-$s2; margin-right:$s5; width:$s30; height: $s30; vertical-align:middle; border-radius: 100%;
	}
}
#Nav{ position:fixed; z-index:999; left:0; bottom:0; width:100%;  height:$s60; background:#d00000;
	ul{@include box; width:100%; height:100%;
		li{ @include box-flex;@include box;@include box-orient;
			border-right:$s1 solid rgba(0,0,0,.3); box-shadow:$s2 0 0 rgba(255,255,255,.3);
			a{ @include box-flex; text-decoration:none;
				@include box; @include boxCenter; @include boxMiddle; @include box-orient; width:100%; height:100%; color:#fff; text-align:center;
				&.active{ background-color:#af0000 }
			}
			&:last-child{
				border-right:0; box-shadow:none
			}
		}
		i{ display:block; margin:0 auto; height:$s30;
			&.new{ width:$s30; @include contain('../images/news.png') }
			&.image{ width:$s30; @include contain('../images/image.png') }
			&.video{ width:$s30; @include contain('../images/video.png')}
		}
	}
}
.container{@include box; @include box-flex; padding-bottom:$s60; @include box-sizing;
	>div{ @include box; @include box-flex; @include box-orient; @include box-sizing; }
}
#Search{ //搜索
	@include size(height,35px); @include size(line-height,35px); margin-bottom:$s10; background:#fff; border-bottom:$s1 solid #ddd; padding:$s10;
	@include box; @include box-orient('horizontal')
	input{ @include box-flex;  display:block; height:100%; line-height:100%; padding:0 $s10; border:$s1 solid #ddd; @include box-sizing;}
	.btn{ width:$s60; text-align:center; @include font-size(12px); background:#e50000; color:#fff; }
}
.new{//新闻
	.new-list{
		@include box-flex; overflow-y:scroll;
		dl{ @include size(line-height,22px); margin-bottom:$s10; padding:$s10 $s10 $s5; border-top:$s1 solid #ddd; border-bottom:$s1 solid #ddd; background:#fff; overflow:hidden;
			dt{ @include size(height,22px); font-size:$s16; color:#444;
				white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
			}
			dd{ @include size(max-height,44px); font-size:$s14;
				p{ overflow:hidden; text-overflow:ellipsis;}
				.aside{ margin-top:$s5; padding-top:$s5; font-size:$s12; border-top:$s1 dashed #eee;
					.submit{ float:right;
						.btn{ display:inline-block; height:$s23; line-height:$s23;  padding:0 $s15;border:$s1 solid #ddd; background:#f8f8f8;
								&:hover{ background:#e50000; color:#fff;}
							}
					}
				}
			}
		}
	}
}
.fixed-edit{ position: fixed; z-index: 998; right:$s10; bottom:$s70;

}

