.wangEditor-container .wangEditor-txt {
  width: 100%;
  text-align: left;
  padding: 15px;
  padding-top: 0;
  margin-top: 5px;
  overflow-y: auto;
}
.wangEditor-container .wangEditor-txt p,
.wangEditor-container .wangEditor-txt h1,
.wangEditor-container .wangEditor-txt h2,
.wangEditor-container .wangEditor-txt h3,
.wangEditor-container .wangEditor-txt h4,
.wangEditor-container .wangEditor-txt h5 {
  margin: 10px 0;
  line-height: 1.8;
}
.wangEditor-container .wangEditor-txt p *,
.wangEditor-container .wangEditor-txt h1 *,
.wangEditor-container .wangEditor-txt h2 *,
.wangEditor-container .wangEditor-txt h3 *,
.wangEditor-container .wangEditor-txt h4 *,
.wangEditor-container .wangEditor-txt h5 * {
  line-height: 1.8;
}
.wangEditor-container .wangEditor-txt ul,
.wangEditor-container .wangEditor-txt ol {
  padding-left: 20px;
}
.wangEditor-container .wangEditor-txt img {
  cursor: pointer;
}
.wangEditor-container .wangEditor-txt img.clicked {
  box-shadow: 1px 1px 10px #999;
}
.wangEditor-container .wangEditor-txt table.clicked {
  box-shadow: 1px 1px 10px #999;
}
.wangEditor-container .wangEditor-txt pre code {
  line-height: 1.5;
}
.wangEditor-container .wangEditor-txt:focus {
  outline: none;
}
