<div class='news'>
<position menu='menu'></position>
<position-nav edit='edit'></position-nav>
<div class="boxtab">
	<div class="title">
		<i class="icon-reorder"></i>
		新增新闻
	</div>
	<div class="content">
		<div class="form-horizontal">
			<div class="control-group">
				<label class="control-label">标题</label>
				<div class="controls">
					<input class="text" type="text" placeholder="请输入标题">
					<span class="help-inline">文章标题</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">附标题</label>
				<div class="controls">
					<input class="text" type="text" placeholder="请输入标题">
					<span class="help-inline">文章标题</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">关键字</label>
				<div class="controls">
					<input class="text" type="text" placeholder="请输入标题">
					<span class="help-inline">文章标题</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">描述</label>
				<div class="controls">
					<textarea class="text" rows="3"></textarea>
					<span class="help-inline">文章标题</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">来源</label>
				<div class="controls">
					<textarea class="text" rows="3"></textarea>
					<span class="help-inline">文章标题</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">作者</label>
				<div class="controls">
					<textarea class="text" rows="3"></textarea>
					<span class="help-inline">文章标题</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">选择频道栏目</label>
				<div class="controls">
					<select class="w220">
						<option>请选择部门</option>
					</select>
					<select class="w220">
						<option>请选择频道</option>
					</select>
					<select class="w220">
						<option>请选择栏目</option>
					</select>
					<span class="help-inline">文章标题</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">内容</label>
				<div class="controls">
					<textarea class="text" rows="3"></textarea>
					<span class="help-inline">文章标题</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">定时发布</label>
				<div class="controls">
					<textarea class="text" rows="3"></textarea>
					<span class="help-inline">文章标题</span>
				</div>
			</div>
		</div>
		<div class="submit">
			<div class='btn'>
				<i class="icon-save"></i>
				<span>保存</span>
			</div>
			<div class='btn'>
				<i class="icon-eye-open"></i>
				<span>预览</span>
			</div>
			<div class='btn'>
				<i class="icon-ok-sign"></i>
				<span>确认发布</span>
			</div>
			<div class='btn cancel'>
				<i class="icon-minus-sign"></i>
				<span>取消</span>
			</div>
		</div>
	</div>
</div>
</div>
