@charset "utf-8";
/* CSS Document */
html,body,div,p,h1,img,a,ul,li,h1,h2,h3,h4,h5,h6{ margin:0; padding:0; border: none; }
html{-webkit-text-size-adjust:none;}
body,select { font-family:"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",simsun,"宋体",tahoma,arial;}
body { height: 100%; background:#fff;color:#333; overflow-y: auto}

ul,li,ul li{ list-style: none; }
i{ display: inline-block; vertical-align: middle;  } //margin-top: -2px;
$browser : webkit moz o ms;
$minDevice: -webkit-min-device-pixel-ratio;
$maxDevice: -webkit-max-device-pixel-ratio;
@mixin size( $key , $val , $device:1 ){
    @if $device == 1080{
        $val : $val/2.88;
    }
    $val : $val/16px * 1rem;
    #{$key} :  $val;
    @media only screen and (min-device-width : 320px) and (max-device-width : 340px) and (orientation : portrait) and ($minDevice:1) and ($maxDevice:2) {
        #{$key}: $val*.85714285714285714;
    }
    @media only screen and (min-device-width : 240px) and (max-device-width : 600px) and (orientation : portrait) and ($minDevice:0.75) and ($maxDevice:1.9){
        #{$key}: $val*.85714285714285714;
    }
    //iphone 6 plus
    @media only screen and (min-device-width : 410px) and (max-device-width : 500px) and (orientation : portrait) and ($minDevice:2.5) and ($maxDevice:4.0){
        #{$key}: $val*1.105;
    }
}
@mixin transition-duration( $val:.3s ){
    transition-duration : $val;
    @each $key in $browser {
        -#{$key}-transition-duration:$val;
    }
}
@mixin transform( $val ){
    transform : $val;
    @each $key in $browser {
        -#{$key}-transform:$val;
    }
}
@mixin box-sizing{
    box-sizing:border-box;
    @each $key in $browser {
        -#{$key}-box-sizing:border-box;
    }
}

.clearfix:after,.wrapper:after  { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.color666{
    color: #666;
}
.tl { text-align:left;}
.tc { text-align:center;}
.tr { text-align:right;}
.fl { float:left;}
.fr { float:right;}
.middle *{ display:inline-block;vertical-align:middle;}
a { cursor:pointer;color:#333;}
a:hover { color:#333;text-decoration:underline;}
a img{ border:0;}
a.link{color:#5378a9;}
a.link:hover{text-decoration:underline;}
em{ font-style:normal;}
select option{display:block;}
input,textarea { outline:none;resize:none;}
textarea { border:1px solid #c7c7c7;border-radius:5px;padding:5px 10px;font-size:14px;color:#666;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  -o-transition: -o-box-shadow 0.2s linear;
  -moz-transition: -moz-box-shadow 0.2s linear;
  -ms-transition: -ms-box-shadow 0.2s linear;
   -kthtml-transition: -kthtml-box-shadow 0.2s linear;
   transition: box-shadow 0.2s linear;
}
input[type='checkbox']{ margin:0; padding:0; }
textarea:focus{ border:1px solid #8cb2d9;
  -webkit-box-shadow: 0px 0px 4px #d3e6fb;
    -moz-box-shadow: 0px 0px 4px #d3e6fb;
    box-shadow: 0px 0px 4px #d3e6fb;
}
li [class^="icon-"], li [class*=" icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
    vertical-align:middle;
}
/* textarea,input[type="text"],input[type="password"]{-webkit-appearance: none !important;color: #333333;outline: 0;height: 20px;padding: 6px 6px !important;line-height: 20px; font-size: 14px; font-weight: normal; vertical-align: top; background-color: #ffffff; border-radius: 0px; background: transparent; @include transition-duration(.3s); border:1px solid #ddd;
}
input:focus{ border: 1px solid #bbb !important;} */
::-webkit-input-placeholder{ font-size:12px; }
::-ms-input-placeholder{ font-size:12px; }
::-moz-input-placeholder{ font-size:12px; }


.banner{ background:url(../../images/banner.png) center 0 no-repeat; @include size(height,550px,1080); background-size:contain; }

.container{ padding:0 20px;}

/*header*/
#Header{ height:45px; line-height: 45px; background: #212121; color: #ddd; 
    .logo{ display: block; float: left; width:88px; height:30px; margin-top:8px; background: url(../../images/logo.png) no-repeat; }
}
.nav-sider{ float: right; font-style: 13px; 
  >ul > li{ position: relative; z-index: 999; height: 45px; padding:0 10px;
    &:hover{ background-color:#303030; }
  }
  .badge{ white-space: nowrap; vertical-align: baseline; position: absolute; font-size: 11px !important; font-weight: 300; top: 8px; right: -10px; text-align: center; height: 14px; line-height: 14px; background-color: #e02222; padding: 2px 5px 2px 5px; border-radius: 100%; }
}
.nav-sider .myInfo{ cursor: pointer;
    .icon-user{ background-size: 17px auto;  
        &:before { width:17px; height: 17px; content: "\f007"; }
    }
    .dropdown-menu{ position: absolute; top: 100%; right: 0; z-index: 1000; float: left; width: 200px; list-style: none; text-shadow: none; padding: 10px 0; margin: 0px;  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);  font-size: 14px; font-family: "Segoe UI",Helvetica, Arial, sans-serif;  border: 1px solid #ddd;  @include transition-duration(.3s); @include transform(translateY(100px)); opacity:0; opacity: 0; display:none; 
        background: #fff;
        li{ line-height: 20px;
            a{ margin:2px 0; padding: 6px 0 6px 13px; color: #333; text-decoration: none; display: block; clear: both; font-weight: normal; line-height: 18px; white-space: nowrap;
                &:hover{ background:#e7e7e7; }
            }
            i[class^="icon-"]{ width:15px; height: 15px; margin-top: -5px; margin-right: 5px; }
            
            &.divider{ height: 1px; margin: 9px 1px; overflow: hidden; background-color: #e5e5e5; border-bottom: 1px solid #fff; }
        }
        &:before{ position: absolute; top: -7px; right: 9px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid #fff; border-left: 7px solid transparent; border-bottom-color: rgba(255,255,255,.8); content: '';}

    }
    &:hover .dropdown-menu.cur{ display:block; @include transform(translateY(0)); opacity:1;}
}
/*end header*/
$leftWidth : 225px;
/*right*/
#Container{
    padding-left: $leftWidth+20; padding-right: 20px; padding-top:20px;
}
/*end right*/

@mixin leftMenuA{display:block;  position: relative; margin: 0; border: 0px; padding: 10px 15px; text-decoration: none; font-size: 14px; font-weight: 300;border-top: 1px solid #5c5c5c; color: #ffffff;}
/* left */
.sidebar-menu{ position:absolute; z-index: 998; left:0; top:45px; width:$leftWidth; background: #3d3d3d; overflow: hidden; 
    .sidebar-toggler{ width: 29px; height: 29px; margin:15px 0 15px 175px; cursor: pointer; background: url(../../images/sidebar-toggler.jpg) right 0 no-repeat; opacity: 0.5; filter: alpha(opacity=50);
        &:hover{opacity: 1; filter: alpha(opacity=100);}
    }
    .webapp-tab{
        height: 28px; line-height: 28px; margin: 15px 15px 20px; color: #4d4d4d; border: 1px solid #5c5c5c;
        li{ float:left; width:96px; height:28px; line-height:28px; font-size:14px; font-family:Arial; text-align:center; cursor:pointer; color:#919191;
            &.current{ background:#008bdb; color:#fff;}
        }
    }
    i{ font-size: 16px; margin-right: 5px; text-shadow: none; color:#969696;}
    
    .selected{ display: block; width: 8px; height: 25px; background-image: url(../../images/sidebar-menu-arrow.png); float: right; position: absolute; right: 0px; top: 8px; }
    .arrow{
        color: #7d7d7d !important; transition-duration:.5s; -webkit-transition-duration:.5s;
        &:before{ float: right; margin-top: 1px; margin-right: 5px; display: inline; font-size: 16px; font-family: FontAwesome; height: auto; content: "\f104"; font-weight: 300; text-shadow: none;}
        &.cur:before{float: right; margin-top: 1px;margin-right: 3px; display: inline; font-family: FontAwesome; height: auto; font-size: 16px; content: "\f107"; font-weight: 300; text-shadow: none;}
    }
    .pub-menu{
        li{
            a{ @include leftMenuA; 
            }
            &.active a{ background:#e02222; border-top-color: transparent !important; 
                i[class^=icon]{ color:#fff;}
            }
        }
    }
    .option{
        >ul >li{ //1级
            line-height:20px;
            >i{ }
            >.title{ color:#fff; }
            >.arrow{
               
            }
            >a{ @include leftMenuA;
                &:hover{background: #303030; }
            }
            &.open{ 
                >a {background: #303030;}
            }
        }
        .sub-menu{ display: none; padding:5px 0; overflow:hidden;
            >li{
                >a{ display: block; margin: 0; padding: 5px 0px; padding-left: 44px !important; text-decoration: none; font-size: 14px; font-weight: 300; ackground: none; color: #bdbdbd;
                    &:hover{ color: #ffffff !important;  background: #575757 !important;
                        i[class^=icon]{ color:#fff;}
                    }
                    .arrow{ float: right; margin-top: 1px; margin-right: 15px; display: inline; font-size: 16px; font-family: FontAwesome; height: auto; content: "\f104"; font-weight: 300; text-shadow: none;
                        
                     }
                }
                &.cur{
                    a{background: #575757;}
                }
            }
        }
    }
}

.position{ 
    background-color: #eee;padding: 8px 15px; margin: 0 0 15px;
    li{display: inline-block; text-shadow: 0 1px 0 #fff; font-size:14px; }
    a{ text-decoration: none; }
    .cur{ color:#4d90fe;}
}
.position-fixed{ position:relative; z-index:999; height:35px; line-height:35px; margin-bottom:10px; text-align:right;
    >ul{ display:inline-block; vertical-align:middle;
        li{ 
            float:left; color:#fff; background:#35aa47;
            a{display:block; height:35px; line-height:35px;padding:0 15px; color:#fff;
                &:hover{ background:#07941d; text-decoration:none; }
            }
        }
    }
    .edit{ position: relative; z-index:99; display:inline-block; height:35px; margin-left: 5px; vertical-align:middle;
        >a { display:block; height:35px; padding:0 15px; background:#4d90fe; color:#fff;
           &:hover{ background:#105fdf; text-decoration:none; }
        }
    }
    .list{ display:none; position:absolute; right:0; top:35px; width:100px; background:#fff;  border: 1px solid #ddd; text-align:left; box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); @include transition-duration(.3s); @include transform(translateY(100px)); opacity:0;
        a{ font-size:14px; margin:2px 0; padding: 6px 0 6px 13px; color: #333; text-decoration: none; display: block; clear: both; font-weight: normal; line-height: 18px; white-space: nowrap;
                &:hover{ background:#e7e7e7; }
        }
        &.cur{ display: block; @include transform(translateY(0)); opacity:1;}
    }

}

.boxtab{
    margin-top:55px; position:relative; z-index:9;
    .position-fixed{
         position:absolute; top:-45px; right:0; 
    }
    >.title{
        background-color: #35aa47;margin-bottom: 0px;padding: 8px 10px 8px 10px;color: #fff !important;
        .right-sider{ float:right; }
        .close{ padding:0 5px; border:none; background:none; color:#fff; font-size:18px; cursor:pointer;
            &:hover{ color:#fff000;}
        }
    }
    >.content{
        border:1px solid #35aa47;
    }
    .submit{
        height:60px; line-height: 60px; padding-left: 150px; background: #f5f5f5; border-top:1px solid #e5e5e5;
        .btn{ display: inline-block; height: 35px; line-height: 35px; padding:0 15px; color: #fff; border:none; background: #35aa47; cursor: pointer;@include transition-duration(.3s);
            &:hover{ background:#108f24; };
            &:not(:nth-child(1)){ margin-left:10px; };
            &.cancel{ background-color: #e5e5e5; color: #737373; 
              &:hover{ background:#d3d3d3; };
            }
            &.red{
                background-color:#e50000; color:#fff;
                &:hover{ background:#c80000; };
            }
        }
    }
    &.popedit{ margin-top:0; }
    .w100{ width:100%;}
    .w120{ width:120px; }
    .w220{ width:220px; }
    .w320{ width:320px; }
}
.form-horizontal{ padding:20px;
    .control-group{ margin-bottom: 20px; overflow:hidden;
        &:before{display: table; line-height: 0; content: "";}
        .control-label{ float: left; width: 160px; padding-top: 5px; text-align: right; font-size: 14px; font-weight: normal; line-height: 20px;    display: block;margin-bottom: 5px;margin-top: 2px; }
        .controls{ margin-left: 180px; font-size: 13px;}
        input.text{border: 1px solid #e5e5e5;}
        .help-inline{ display: inline-block; margin-left: 5px;margin-top: 6px; vertical-align: middle; font-size:13px; color: #595959;}
        select{padding: 4px 6px;display: inline-block;color: #555; background-color: #ffffff; background-image: none !important; filter: none !important; border: 1px solid #e5e5e5; outline: none; height: 34px !important; line-height: 30px; font-size:14px; vertical-align:top;
            &:not(:nth-child(1)){ margin-left:10px; };
        }
        textarea{ width:80%; max-width:500px; min-height:50px; }
        .clear{ clear:both; overflow:hidden;}
        .item{ float:left; 
            .control-label.next{ width:80px;}
            .controls.next{ margin-left:100px; }
        }
        em{ padding-right:5px; color:#e50000; vertical-align:middle;}
    }
}
.layui-form{ padding-top:20px;
    textarea.w80{ width:80%; max-width:600px; min-height:50px; }
    em{ padding-right:5px; color:#e50000; vertical-align:middle;}
    .layui-form-label{ width:120px;}
    .layui-input-block{ margin-left:150px;}
    .date{ cursor:pointer;}
}
.table{
    table{ width:100%; border-left:1px solid #ddd; border-top:1px solid #ddd; @include box-sizing;}
    img.img{ vertical-align:middle; width:20px; height:20px; border-radius:100%;}
    th{ text-align:left; padding:5px; font-size:14px; font-weight:normal; border-right:1px solid #ddd; border-bottom:1px solid #ddd; }
    td{ text-align:left; padding:5px; font-size:14px;  border-right:1px solid #ddd; border-bottom:1px solid #ddd; }
    tr{
        &:nth-child(odd){ background:#f8f8f8;}
        &:hover{ background:#f2f2f2}
    }
    .select{ width:20px; text-align:center;}
    .edits{ }
    .btn{ display:inline-block; margin-left:1px; padding:2px 10px; font-size:12px; background:#35aa47; cursor:pointer; color:#fff; @include transition-duration(.3s);
        i{ margin-right:3px; }
        &.add{ background:#35aa47; color:#fff;
            &:hover{background:#1e9831; }
        }
        &.del{ background:#f24400; color:#fff;
            &:hover{ background:#da0000;}

        }
        &.edit{ background:#4d90fe; color:#fff;
            &:hover{  background:#2673f1;}
        }
    }
}
.tablist{
    margin-top:0;
    .submit{ padding-left:25px;}
}
.page{
    .paginationjs{ padding-top:20px; text-align:right; font-size:0;
        .paginationjs-pages{
            display: inline-block; vertical-align:top;
            ul{ display: inline-block; height:30px; border-radius: 4px; box-shadow: 0 1px 2px rgba(0,0,0,0.05);}
            li{ display:inline-block; 
                a{ float: left;padding: 4px 12px;line-height: 20px;background-color: #fff;border: 1px solid #ddd;text-decoration:none; font-size:12px; color:#999;
                    &:hover{ background:#eee; }
                }
                &:not(:first-child) a{ border-left:none; }
                &.active a{ background:#eee;}
            }
        }
        .paginationjs-go-input{ display: inline-block; vertical-align:top; padding-left:10px;
            input[type='text']{ width:30px; height:16px; line-height:16px; }
        }
        .paginationjs-go-button{ display:inline-block; vertical-align:top;
            .J-paginationjs-go-button{ height:30px; line-height:30px; border:1px solid #ddd; border-left:none; border-top-right-radius:3px;  border-bottom-right-radius:3px; background:#fff; cursor:pointer;
                &:hover{background:#eee;}
            }
        }
    }
}

.news{
    &.edit{
        .boxtab{ margin-top:0; }
    }
}
