<div class="boxtab tablist">
	<div class="title">
		<i class="icon-reorder"></i>
		{{title}}
	</div>
	<div class="content">
		<div class="permissions-pop">
			<div class="content">
				<div class="option" ng-if='listPermissionData'>
					<table class="table" width='100%' cellpadding="0" cellspacing="0">
						<tbody>
							<tr class="current">
								<th width='30' class="center">
									<input type='checkbox' ng-checked="{{allchecked}}" ng-click='selectAll($event)' class='selectAllInput' >
								</th>
								<th>权限名称</th>
								<th>权限TYPE</th>
								<th>是否显示</th>
							</tr>

							<tr ng-repeat='item in listPermissionData' class='permission-list {{item.typeStr == "MENU" ? "special" : ""}}' >
								<td class="center">
									<input type='checkbox' name="permission" data-id="{{item.id}}" ng-value="{{item.id}}" ng-checked="{{item.ischecked}}" ng-click='select($event)'>
								</td>
								<td>{{item.name}}</td>
								<td>{{item.typeStr}}</td>
								<td>{{item.showFlag == 0 ? '否' : '是'}}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>
