<div>
	<position-nav edit='edit' submit='submit'></position-nav>
	<search list='searchform'></search>
	<div class="boxtab tablist {{data.cls}}">
		<div class="title">
			<i class="icon-reorder"></i>
			{{data.title}}
		</div>
		<div class="content">

		<div class="form-horizontal">
			<div class="table">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<th ng-if='data.table.select' class='select'><input type="checkbox"></th>
						<th ng-repeat='obj in data.table.th' repeat-finish='thFinish' width='{{obj.width}}' class='{{obj.class}}'>
							{{obj.name}}
						</th>
					</tr>
					<tr ng-repeat='obj in data.table.td' repeat-finish='tdFinish' data-id='{{obj.id}}' class="{{obj.cls}}">
						<td ng-if='data.table.select' class='select'>
							<input type="checkbox">
						</td>
						<td ng-repeat='item in obj.list' class='{{item.class}}'>
							<span ng-if='item.name && !item.href'>{{item.name}}</span>
							<a ng-if='item.name && item.href' href="{{item.href}}" target="_blank">{{item.name}}</a>
							<img ng-if='item.image' class="img" src='{{item.image}}'>
						</td>
						<td class="edits">
							<div ng-repeat='item in obj.list.edit' ng-click='submit(item.evt,obj,$event)' class="btn {{item.cls}}" repeat-finish='editsFinish'>
								<i class='icon-{{item.icon}}'></i>{{item.name}}
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div id="pages" class="page"></div>
		</div>
		<div class="submit" ng-if='data.submit'>
			<div class='btn {{obj.cls}}' ng-repeat='obj in data.submit' ng-click='submit(obj.evt,false,$event)'>
				<i class="icon-{{obj.icon_cls}}"></i>
				<span>{{obj.name}}</span>
			</div>
		</div>
	</div>
</div>