<div class="{{formdata.superClass}}">
	<div class="boxtab {{formdata.cls}}">
		<div class="title">
			<div class="right-sider">
				<button ng-if='titelement.close==true' type="button" class="close" ng-click='close()'>&times;</button>
			</div>
			<i class="icon-reorder"></i>
			{{formdata.title}}
		</div>
		<div class="content clearfix">
			<form class="layui-form clearfix">
				<position-nav edit='edit' submit='submit' isadd='isadd'></position-nav>
				<div ng-if='formdata' class="layui-form-item" ng-repeat="obj in formdata.list">
					<label ng-if='!isArray(obj)' class="layui-form-label"><em ng-show='obj.check!=false&&obj.verify'>*</em><span>{{obj.name}}</span></label>
					<div class="layui-input-block" ng-if='!isArray(obj)' repeat-finish='formRepeat'>

						<!-- 输入匡 或 密码 -->
						<input ng-if="obj.type=='text'||obj.type=='password'" 
							class="text layui-input {{obj.cls||'w320'}}" 
							type="{{obj.type}}" 
							name="{{obj.title}}" 
							ng-value="data[obj.title]"
							lay-verify="{{obj.verify}}" 
							placeholder="{{obj.placeholder}}" 
							ng-pattern="{{obj.pattern}}"
							autocomplete="off">

						<!-- 新增表单 和 删除表单 -->
						<span ng-if='obj.inputMaxNum'>
							<i class="input-add icon-plus-sign" ng-click='addInput(obj,$index)'></i> 
							<i class="input-del icon-remove-sign" ng-if='obj.num>1' ng-click='delInput(obj,$index)'></i>
						</span>

						<!-- 多文本 -->
						<textarea ng-if="obj.type=='textarea'" class="layui-textarea text w80 {{obj.cls}}" name="{{obj.title}}" style="height:{{obj.height}}px" lay-verify="content" placeholder="{{obj.placeholder}}">{{data[obj.title]}}</textarea>

						<!-- 富文本编辑器 -->
						<!-- <div ng-if="obj.type=='edit'" class='wangEditor {{obj.cls}}' data-html='{{data.newsDetail.content}}' style="width:{{obj.width}}; max-width:800px;">
							<div ng-model="text" contenteditable="true" name="{{obj.title}}" style="height:{{obj.height}};"></div>
						</div> -->
						<iframe ng-if="obj.type=='edit'" id="editor" class='iframe' type="text/plain" ng-style="{'width':obj.width}" style="min-width:800px; width:700px; max-width:1000px; height:500px;" src='/ueditor1_4_3_2-utf8-jsp/'>
						</iframe>

						<!-- select -->
						<div ng-if="obj.type=='select'" class="layui-input-inline {{obj.cls}}" ng-repeat="select in obj.select" repeat-finish='selectRpeatDone'>
							<select ng-if="obj.type=='select'" name="{{obj.selectName[$index]}}">
								<option lay-verify="{{obj.verify}}" ng-repeat="option in select" ng-selected="option.id && option.id==data[select[0].title]">{{option.name}}</option>
							</select>
                        </div>


					    <!-- 时间 -->
					    <input ng-if="obj.type=='date'" ng-value="data[obj.title]" type="text" name="{{obj.title}}" id="date"placeholder="{{obj.placeholder}}" readonly='readonly' autocomplete="off" class="layui-input date {{obj.cls||'w220'}}" ng-click="selectDate($event)"><!--  lay-verify="date"  -->

					    <!-- 上传按钮 并不能上传需要点击事件 -->
					    <div ng-if="obj.type=='file'" class="layui-box layui-upload-button" style="cursor:pointer" >
			    			<span ng-if="data['videoUrl']"  class="layui-upload-icon">    	
					    		{{data['fileName']}}
					    	</span>	

					    	<span  class="layui-upload-icon">    	
					    		<i class="layui-icon"></i>{{obj.name}}
					    	</span>
					    </div>

			    			    

					    <!-- layer 自带上传功能 -->
					    <input ng-if="obj.type=='upload'" type="file" name="{{obj.title}}" class="layui-upload-file {{obj.cls}}">

						<!-- radio -->
					    <input ng-if="obj.type=='radio'" ng-repeat="item in obj.radio" ng-value='item.title' type="radio" title="{{item.name}}" name="{{obj.title}}"  ng-checked="data[obj.title]?(item.name==data[obj.title])?true:false:item.checked" repeat-finish='radioRpeatDone'>

					    <!-- checkbox -->
					    <input ng-if="obj.type=='checkbox'" ng-repeat="(index , item) in obj.checkbox" type="checkbox" name="{{obj.title}}" title='{{item.name}}' data-index='{{index}}' ng-checked="{{item.checked}}" repeat-finish='checkboxRpeatDone'>


					</div>
					<!-- 不换行 -->
					<div class="layui-inline" ng-if='isArray(obj)' ng-repeat="item in obj" repeat-finish='formRepeat'>
						<label ng-if='item.type!="button" && item.type!="selectSize"' class="layui-form-label {{$index!==0?'inline':''}}"><em ng-show='item.check!=false&&item.verify'>*</em>{{item.name}}</label>
					    <div class="layui-input-inline"> <!-- 不换行 -->
					        <!-- 输入匡 或 密码 -->
							<input ng-if="item.type=='text'||item.type=='password'" 
								class="text layui-input {{item.cls||'w180'}}" 
								type="{{item.type=='text'?'text':'password'}}" 
								name="{{item.title}}" 
								ng-value="data[item.title]"
								lay-verify="{{item.verify}}" 
								placeholder="{{item.placeholder}}" 
								autocomplete="off">

							<!-- 多文本 -->
							<textarea ng-if="item.type=='textarea'" class="layui-textarea text w80 {{item.cls}}" name="{{item.title}}" lay-verify="content" placeholder="{{item.placeholder}}">{{data[item.title]}}</textarea>

						    <!-- select -->
						    <div ng-if="item.type=='select'" ng-repeat="select in item.select"  repeat-finish='selectRpeatDone' class='{{item.cls}}'>
						      	<select name="{{item.selectName[$index]}}">
						        	<option lay-verify="{{item.verify}}" ng-repeat="option in select" ng-selected="option.id && option.id==data[select[0].title]">{{option.name}}</option>
						     	</select>
					     	</div>
					     	<!-- select -->

						    <!-- 时间 -->
						    <input ng-if="item.type=='date'" ng-value="data[item.title]" type="text" name="{{item.title}}" id="date"placeholder="{{item.placeholder}}" readonly='readonly' autocomplete="off" class="layui-input date {{item.cls||'w220'}}" ng-click="selectDate($event)"><!--  lay-verify="date"  -->

					    	<button ng-if='item.type=="button"' class="layui-btn layui-btn-normal" ng-click='submit(item.evt,item,$event)'>{{item.name}}</button>

					    	<!-- radio -->
					    	<input ng-if="item.type=='radio'" ng-repeat="ob in item.radio" ng-value='ob.title' type="radio" name="{{item.title}}" title='{{ob.name}}' ng-checked="data[item.title]?(ob.name==data[item.title])?true:false:ob.checked" repeat-finish='radioRpeatDone'>

					    	<!--select 添加 size 请况下-->
						    <div ng-if='item.type=="selectSize"' class="selectSize {{item.cls}}">
						    	<div class='select-left'>
						    		<div class='name'>{{item.fromName}}：</div>
									<ul>
										<li ng-repeat="select in item.fromSelect" ng-click='selectSize(select , $event)'>{{select.name}}</li>
									</ul>
						    	</div>
						    	<div class='select-edit'>
									<div class='btn' ng-click='addSelectSize(item , $event,1)'><i class=" icon-chevron-right"></i>添加</div>
									<div ng-click='addSelectSize(item , $event,0)' class='btn remove'><i class="icon-chevron-left"></i>移除</div>
						    	</div>
						    	<div class='select-right'>
						    		<div class='name'>{{item.toName}}：</div>
									<ul>
										<li ng-repeat="select in item.toSelect" ng-click='selectSizeRight(select , $event)'>
											{{select.name}}
										</li>
									</ul>
						    	</div>
						    </div>
					    </div>
					</div>
				</div>
				<div class="submit" ng-if='formdata'>
					<div class='btn {{obj.cls}}' lay-submit="" lay-filter="demo1" ng-repeat='obj in formdata.submit' data-event='{{obj.evt}}' ng-if='obj.evt!="cancel"'>
						<i class="icon-{{obj.icon_cls}}"></i>
						<span>{{obj.name}}</span>
					</div>
					<button ng-repeat='obj in formdata.submit' ng-if='obj.evt=="cancel"' type="reset" class="btn {{obj.cls}}">
						<i class="icon-{{obj.icon_cls}}"></i>
						<span>{{obj.name}}</span>
					</button>
				</div>

				<div class="imagePre" ng-if="data['imageUrl'] || data['headImage']" style="position: absolute; top: 50px; right: 50px;">
		    	  <img ng-if="data['imageUrl']" ng-src="{{data['imageUrl']}}" width="100px" />
		    						    	
		    	  <img ng-if="data['headImage']" ng-src="{{data['headImage']}}" width="100px" />					
				</div>
			</form>
		</div>
	</div>
</div>
