<div>
	<position-nav edit='edit' submit='submit'></position-nav>
	<search list='searchform'></search>
	<div class="boxtab tablist {{data.cls}}">
		<div class="title">
			<div class="right-sider">
				<button ng-if='title_close==true' type="button" class="close" ng-click='close()'>&times;</button>
			</div>
			<i class="icon-reorder"></i>
			{{data.title}}
		</div>
		<div class="content">

		<div class="form-horizontal">
			<div class="table">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<!-- <th ng-if='data.table.select' class='select'><input type="checkbox"></th> -->
						<th ng-repeat='obj in data.table.th' repeat-finish='thFinish' width='{{obj.width}}' class='{{obj.class}}'>
							{{obj.name}}
						</th>
					</tr>
					<tr ng-repeat='obj in data.table.td' repeat-finish='tdFinish' data-id='{{obj.id}}' class="{{obj.cls}}">
						<!-- <td ng-if='data.table.select' class='select'>
							<input type="checkbox">
						</td> -->
						<td ng-repeat='item in obj.list' class='{{item.class}}'>
							<span ng-if='item.name && !item.href'>{{item.name}}</span>
							<a ng-if='item.name && item.href' href="{{item.href}}" target="_blank">{{item.name}}</a>

							<a ng-if='item.image' ng-href='{{item.image}}' target="_blank"> <img ng-if='item.image' class="img" ng-src='{{item.image}}'></a>

							<!-- <span ng-if='!item.name'>-</span> -->
						</td>
						<td class="edits">
							<div ng-repeat='item in obj.list.edit' ng-if='!item.href' ng-click='submit(item.evt,obj,$event)' class="btn {{item.cls}}" repeat-finish='editsFinish'>
								<i class='icon-{{item.icon}}'></i>{{item.name}}{{item.href}}
							</div>
							<a ng-repeat='item in obj.list.edit' ng-if='item.href' href='{{item.href}}?id={{obj.id}}' target='_blank' class="btn {{item.cls}}" repeat-finish='editsFinish'>
								<i class='icon-{{item.icon}}'></i>{{item.name}}
							</a>
						</td>

						<td class="edits" ng-if="obj.list.permission">						
							<div ng-repeat='item in obj.list.permission' ng-click='submit(item.evt,obj,$event)' class="btn {{item.cls}}" repeat-finish='editsFinish'>
								<i class='icon-{{item.icon}}'></i>{{item.name}}
							</div>
						</td>						

					</tr>
				</table>
			</div>
			<div id="pages" class="page"></div>
		</div>
		<div class="submit" ng-if='data.submit'>
			<div class='btn {{obj.cls}}' ng-repeat='obj in data.submit' ng-click='submit(obj.evt,false,$event)'>
				<i class="icon-{{obj.icon_cls}}"></i>
				<span>{{obj.name}}</span>
			</div>
			
		</div>
	</div>
</div>