<div id="Header">
	<div class="header">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-sider">
					<ul>
						<li class="myInfo">	
							
							<div style="clear:both;">


<!-- 								<div style="float:left;margin-right:5px;margin-top:7px;">					
								<img ng-src="{{currentUser.data.headImage}}" width="25px" height="25px" style="border-radius: 50px;border: 1px solid #999;" />
								</div> -->
								
								<div class="username" style="float:left;">
									<i class="icon-user"></i>
								{{currentUser.data.realName}}</div>
							</div>
							<!-- <span class="badge">9</span> -->
							<ul class="dropdown-menu">
								<!-- <li>
									<a href='user.html'>
										<i class="icon-user"></i>个人中心
									</a>
								</li>
								<li>
									<a href='news.html'>
										<i class="icon-news"></i>新闻管理
									</a>
								</li>
								<li>
									<a href='data.html'>
										<i class="icon-module"></i>统计
									</a>
								</li>
								<li class="divider"></li> -->
								<li><a ng-click='editUser($event)'><i class="icon-edit"></i>修改用户</a></li>
								<li><a ng-click='loginOut()'><i class="icon-out"></i>退出</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<a class="logo" href="index.html"></a>
			</div>
		</div>
	</div>
</div>