<div id="Header">
	<div class="header">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-sider">
					<ul>
						<li class="myInfo">
							<i class="icon-user"></i>
							<span class="username">管理员</span>
							<!-- <span class="badge">9</span> -->
							<ul class="dropdown-menu">
								<!-- <li>
									<a href='user.html'>
										<i class="icon-user"></i>个人中心
									</a>
								</li>
								<li>
									<a href='news.html'>
										<i class="icon-news"></i>新闻管理
									</a>
								</li>
								<li>
									<a href='data.html'>
										<i class="icon-module"></i>统计
									</a>
								</li>
								<li class="divider"></li> -->
								<li><a ng-click='loginOut()'><i class="icon-out"></i>退出</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<a class="logo" href="index.html"></a>
			</div>
		</div>
	</div>
</div>