<div class='sidebar-menu'>
	<div class="sidebar-toggler"></div>
	<div class="webapp-tab">
		<ul>
			<li class='current'>WEB</li>
			<li>APP</li>
		</ul>
	</div>
	<div class="menubar">
		<div class="pub-menu">
			<ul>
				<li class="active">
					<a href='index.html'>
						<i class="icon-home"></i>
						<span class="title">首页</span>
						<span class="selected"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="option">
			<ul>
				<li>
					<a javascript:;>
						<i class="icon-file-text"></i>
						<span class="title">新闻管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="news.list"><!--  ui-sref-opts="{reload:true}" -->
								<i class="icon-list"></i>
								<span class="title">栏目列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="news.edit">
								<i class="icon-edit"></i>
								<span class="title">新增栏目</span>
							</a>
						</li>
						<li>
							<a ui-sref="news.newslist">
								<i class="icon-list"></i>
								<span class="title">新闻列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="news.add">
								<i class="icon-edit"></i>
								<span class="title">发布新闻</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-group"></i>
						<span class="title">部门管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="category.list">
								<i class="icon-list-ul"></i>
								<span class="title">部门列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="category.edit">
								<i class="icon-edit"></i>
								<span class="title">新增部门</span>
							</a>
						</li>
					</ul>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">频道管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="column.list">
								<i class="icon-list-ul"></i>
								<span class="title">频道列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="column.edit">
								<i class="icon-edit"></i>
								<span class="title">新增频道</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-user"></i>
						<span class="title">用户管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="user.list">
								<i class="icon-list-ul"></i>
								<span class="title">用户列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="user.add">
								<i class="icon-edit"></i>
								<span class="title">新增用户</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">权限管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="jurisdiction.list">
								<i class="icon-list-ul"></i>
								<span class="title">权限列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.add">
								<i class="icon-edit"></i>
								<span class="title">新增权限</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li>
					<a javascript:;>
						<i class="icon-picture"></i>
						<span class="title">图片管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="image.list">
								<i class="icon-list-ul"></i>
								<span class="title">图片列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="image.add">
								<i class="icon-edit"></i>
								<span class="title">新增图片</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-film"></i>
						<span class="title">视频管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="video.list">
								<i class="icon-list-ul"></i>
								<span class="title">视频列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="video.add">
								<i class="icon-edit"></i>
								<span class="title">新增视频</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-folder-open"></i>
						<span class="title">模版管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="template.list">
								<i class="icon-list-ul"></i>
								<span class="title">模版列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="template.add">
								<i class="icon-edit"></i>
								<span class="title">新增模版</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-folder-close"></i>
						<span class="title">专题管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="topic.list">
								<i class="icon-list-ul"></i>
								<span class="title">专题列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="topic.add">
								<i class="icon-edit"></i>
								<span class="title">新增专题</span>
							</a>
						</li>
						<li>
							<a ui-sref="topic.classList">
								<i class="icon-edit"></i>
								<span class="title">分类列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="topic.addClass">
								<i class="icon-list-ul"></i>
								<span class="title">新增分类</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-th-list"></i>
						<span class="title">频道管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="userchannel.list">
								<i class="icon-list-ul"></i>
								<span class="title">频道列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="userchannel.add">
								<i class="icon-edit"></i>
								<span class="title">新增频道</span>
							</a>
						</li>
						<li>
							<a ui-sref="userchannel.userList">
								<i class="icon-list-ul"></i>
								<span class="title">用户列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="userchannel.addUser">
								<i class="icon-edit"></i>
								<span class="title">创建用户权限</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-th"></i>
						<span class="title">碎片管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="fragment.list">
								<i class="icon-list-ul"></i>
								<span class="title">碎片列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="fragment.add">
								<i class="icon-edit"></i>
								<span class="title">新增碎片</span>
							</a>
						</li>
						<li>
							<a ui-sref="fragment.classList">
								<i class="icon-list-ul"></i>
								<span class="title">分类列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="fragment.addClass">
								<i class="icon-edit"></i>
								<span class="title">新增分类</span>
							</a>
						</li>
						<li>
							<a ui-sref="fragment.listHistory">
								<i class="icon-list-ul"></i>
								<span class="title">碎片历史纪录</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-signal"></i>
						<span class="title">统计管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">统计功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">统计展示</span>
							</a>
						</li>
					</ul>
				<li>

			</ul>
		</div>
		<div class="option" style="display:none;">
			<ul>
				<li>
					<a javascript:;>
						<i class="icon-file-text"></i>
						<span class="title">新闻管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="jurisdiction.addd">
								<span class="title">新闻添加功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.addd">
								<span class="title">新闻编辑器功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.addd">
								<span class="title">新闻发布生成功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">图片管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">图片上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片压缩功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片管理</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">视频管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">视频上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">视频管理功能</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>