<div class='sidebar-menu'>
	<!-- <div class="sidebar-toggler"></div> -->
	<div class="webapp-tab">
		<ul>
			<li class='current'>WEB</li>
			<!-- <li>APP</li> -->
		</ul>
	</div>
	<div class="menubar">
		<div class="pub-menu">
			<ul>
				<li class="active">
					<a ui-sref="home.main">
						<i class="icon-home"></i>
						<span class="title">首页</span>
						<span class="selected"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="option">
			<ul>
				<li ng-if='Nav' ng-repeat='obj in Nav' repeat-finish='columnDone'>
					<a javascript:; ng-click='menuClick($index , obj.permission , $event)'>
						<i class="{{obj.permission.class}}"></i>
						<span class="title">{{obj.permission.name}}</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li ng-repeat='item in obj.permissions'>
							<a ui-sref="{{item.url}}">
								<i class="{{item.class}}"></i>
								<span class="title">{{item.name}}</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			
		</div>
		<div class="option" style="display:none;">
			<ul>
				<li>
					<a javascript:;>
						<i class="icon-file-text"></i>
						<span class="title">新闻管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="jurisdiction.addd">
								<span class="title">新闻添加功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.addd">
								<span class="title">新闻编辑器功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.addd">
								<span class="title">新闻发布生成功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">图片管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">图片上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片压缩功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片管理</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">视频管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">视频上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">视频管理功能</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>