<div class='sidebar-menu'>
	<div class="sidebar-toggler"></div>
	<div class="webapp-tab">
		<ul>
			<li class='current'>WEB</li>
			<li>APP</li>
		</ul>
	</div>
	<div class="menubar">
		<div class="pub-menu">
			<ul>
				<li class="active">
					<a href='index.html'>
						<i class="icon-home"></i>
						<span class="title">首页</span>
						<span class="selected"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="option">
			<ul>
				<li>
					<a javascript:;>
						<i class="icon-file-text"></i>
						<span class="title">新闻管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="news.list"><!--  ui-sref-opts="{reload:true}" -->
								<i class="icon-list"></i>
								<span class="title">栏目列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="news.edit">
								<i class="icon-edit"></i>
								<span class="title">新增栏目</span>
							</a>
						</li>
						<li>
							<a ui-sref="news.newslist">
								<i class="icon-list"></i>
								<span class="title">新闻列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="news.add">
								<i class="icon-edit"></i>
								<span class="title">发布新闻</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-group"></i>
						<span class="title">部门管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="department.list">
								<i class="icon-list-ul"></i>
								<span class="title">部门分类列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="department.edit">
								<i class="icon-edit"></i>
								<span class="title">部门分类编辑</span>
							</a>
						</li>
					</ul>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">频道管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="column.list">
								<i class="icon-list-ul"></i>
								<span class="title">频道管理列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="column.edit">
								<i class="icon-edit"></i>
								<span class="title">频道编辑</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-user"></i>
						<span class="title">用户管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="user.add">
								<!-- <i class="icon-align-justify"></i> -->
								<span class="title">新增用户功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="user.clear">
								<span class="title">用户清理功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="user.randomPassword">
								<span class="title">用户密码随机生成功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="user.identity">
								<span class="title">用户身份认证功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="user.password">
								<span class="title">用户密码管理功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="user.function">
								<span class="title">管理员指定功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="user.login">
								<span class="title">自动登录功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="user.list">
								<span class="title">用户列表</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">权限管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="jurisdiction.edit">
								<span class="title">权限限制</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.add">
								<span class="title">用户权限添加</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.del">
								<span class="title">用户权限删除</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.administrator">
								<span class="title">超级管理员</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.list">
								<span class="title">权限列表</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li>
					<a javascript:;>
						<i class="icon-picture"></i>
						<span class="title">图片管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="image.upload">
								<span class="title">图片上传功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="image.edit">
								<span class="title">图片压缩功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="image.list">
								<span class="title">图片管理</span>
							</a>
						</li>
						<li>
							<a ui-sref="image.select">
								<span class="title">图片筛选功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-film"></i>
						<span class="title">视频管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="video.upload">
								<span class="title">视频上传功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="video.list">
								<span class="title">视频管理功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="video.select">
								<span class="title">视频筛选功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-folder-open"></i>
						<span class="title">模版管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="template.list">
								<span class="title">模版列表</span>
							</a>
						</li>
						<li>
							<a ui-sref="template.add">
								<span class="title">新增模版</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-folder-close"></i>
						<span class="title">专题管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>

								<span class="title">专题发布功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">专题管理</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">专题数据提取</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">专题搜索功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-th-list"></i>
						<span class="title">频道管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">频道编辑</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">频道管理</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-th"></i>
						<span class="title">碎片管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">碎片编辑</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">碎片列表</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">碎片检索</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-signal"></i>
						<span class="title">统计管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">统计功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">统计展示</span>
							</a>
						</li>
					</ul>
				<li>

			</ul>
		</div>
		<div class="option" style="display:none;">
			<ul>
				<li>
					<a javascript:;>
						<i class="icon-file-text"></i>
						<span class="title">新闻管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="jurisdiction.addd">
								<span class="title">新闻添加功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.addd">
								<span class="title">新闻编辑器功能</span>
							</a>
						</li>
						<li>
							<a ui-sref="jurisdiction.addd">
								<span class="title">新闻发布生成功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">图片管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">图片上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片压缩功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片管理</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">视频管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">视频上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">视频管理功能</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>