<div ng-if='edit' class='position-fixed'>
	<ul ng-if='edit.nav'>
		<li ng-repeat="item in edit.nav">
			<a javascript:; ng-click='item.evt()'>
				<i class="icon-{{item.cls}}"></i>
				<span>{{item.name}}</span>
			</a>
		</li>
	</ul>
	<div class="edit">
		<a javascript:;>
			<i class='icon-pencil'></i>
			<span>操作</span>
		</a>
		<ul class="list">
			<li ng-repeat="item in edit.list">
				<a javascript:; ng-click='item.evt()'>
					<i class="icon-{{item.cls}}"></i>
					<span>{{item.name}}</span>
				</a>
			</li>
		</ul>
	</div>
</div>