<div ng-if='edit' class='position-fixed'>
	<ul ng-if='edit.nav'>
		<li ng-repeat="obj in edit.nav">
			<a javascript:; ng-click='submit(obj.evt,false,$event)'>
				<i class="icon-{{obj.icon_cls}}"></i>
				<span>{{obj.name}}</span>
			</a>
		</li>
	</ul>
	<div class="edit">
		<a javascript:;>
			<i class='icon-pencil'></i>
			<span>操作</span>
		</a>
		<ul class="list">
			<li ng-repeat="obj in edit.list" repeat-finish='listFinish'>
				<a javascript:; ng-click='submit(obj.evt,false,$event)'>
					<i class="icon-{{obj.icon_cls}}"></i>
					<span>{{obj.name}}</span>
				</a>
			</li>
		</ul>
	</div>
</div>