
<div class="boxtab search" ng-show='list'>
	<div class="title">
		<div class="right-sider">
			<button ng-if='titelement.close==true' type="button" class="close" ng-click='close()'>&times;</button>
		</div>
		<i class="icon-reorder"></i>
		检索
	</div>
	<div class="content clearfix" style="font-size: 12px;">
		<form class="layui-form clearfix">
			<div ng-if='list.list' class="layui-form-item">
				<!-- 不换行 -->
				<div class="layui-inline" style="margin-right: 0px;" ng-repeat="item in list.list" repeat-finish='formRepeat'>
					<label class="layui-form-label" style="width: auto;padding: 9px 5px;"><em ng-show='item.check!=false&&item.verify'>*</em>{{item.name}}</label>
				    <div class="layui-input-inline"> <!-- 不换行 -->
				        <!-- 输入匡 或 密码 -->
						<input ng-if="item.type=='text'||item.type=='password'" 
							class="text layui-input {{item.cls||'w100'}}" 
							type="{{item.type=='text'?'text':'password'}}" 
							name="{{item.title}}" 
							ng-value="data[item.title]"
							lay-verify="{{item.verify}}" 
							placeholder="{{item.placeholder}}" 
							autocomplete="off">

						<!-- 多文本 -->
						<textarea ng-if="item.type=='textarea'" class="layui-textarea text w80 {{item.cls}}" name="{{item.title}}" lay-verify="content" placeholder="{{item.placeholder}}">{{data[item.title]}}</textarea>

					    <!-- select -->
				      	<div ng-if="item.type=='select'" class="layui-input-inline {{item.cls}}" ng-repeat="select in item.select" repeat-finish='selectRpeatDone'>
							<select ng-if="item.type=='select'" name="{{item.selectName[$index]}}">
								<option lay-verify="{{item.verify}}" ng-repeat="option in select" ng-selected="option.id && option.id==data[select[0].title]">{{option.name}}</option>
							</select>
                        </div>

					    <!-- 时间 -->
					    <input ng-if="item.type=='date'" ng-value="data[item.title]" type="text" name="{{item.title}}" id="date"placeholder="{{item.placeholder}}" readonly='readonly' autocomplete="off" class="layui-input date {{item.cls||'w220'}}" ng-click="selectDate($event)"><!--  lay-verify="date"  -->

				    	<button ng-if='item.type=="button"' class="layui-btn layui-btn-normal" ng-click='submit(item.evt,item,$event)'>{{item.name}}</button>

				    	<!-- radio -->
				    	<input ng-if="item.type=='radio'" ng-repeat="ob in item.radio" ng-value='ob.title' type="radio" name="{{item.title}}" title='{{ob.name}}' ng-checked="data[item.title]?(ob.name==data[item.title])?true:false:ob.checked" repeat-finish='radioRpeatDone'>
				    </div>
				</div>
			</div>
			<div class="submit">
				<div class='btn {{obj.cls}}' lay-submit="" lay-filter="searchForm">
					<i class="icon-search"></i>
					<span>搜索</span>
				</div>
				<button type="reset" class="btn cancel">
					<i class="icon-minus-sign"></i>
					<span>清空</span>
				</button>
			</div>
		</form>
	</div>
	<div class="search-info" ng-if='list.search'>
		<div class="info">
			共搜索到<em>{{list.search.count}}</em>个<em>“{{list.search.name}}”</em>
		</div>
		<div class='btn' ng-click='return()'>
			<i class="icon-chevron-left"></i>
			<span>返回列表</span>
		</div>
	</div>
</div>