<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/rabbit
                http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

	<rabbit:queue id="cooperate_queue" durable="true" auto-delete="false" exclusive="false" name="cooperate_queue"/>
    
    <!-- exchange queue binging key 绑定 -->
    <rabbit:topic-exchange name="tg-cooperate-exchange" durable="true" auto-delete="false" id="tg-cooperate-exchange">
		<rabbit:bindings>
			<rabbit:binding queue="cooperate_queue" pattern="cooperate.*" />
		</rabbit:bindings>
	</rabbit:topic-exchange>
	<!-- 默认消息处理类，可以重写 -->
	<bean id="registerCooperateMessageHandler" class="com.jrj.tougu.cooperate.message.RegisterCooperateMessageHandler"></bean>
	
	<!-- 用于消息的监听的代理类MessageListenerAdapter -->  
    <bean id="messageQueueListenerAdapter"  
        class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">  
        <constructor-arg ref="registerCooperateMessageHandler" />  
        <property name="defaultListenerMethod" value="handleMessage"></property>  
        <property name="messageConverter" ref="jsonMessageConverter"></property>  
    </bean> 
	
	<!-- 监听容器 -->
	<rabbit:listener-container
		connection-factory="connectionFactory" acknowledge="auto" task-executor="taskExecutor">
		<rabbit:listener queues="cooperate_queue" ref="messageQueueListenerAdapter" />
	</rabbit:listener-container>
	
</beans>