<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
>

	<task:scheduler id="poolTaskScheduler" pool-size="10"/>
	<task:scheduled-tasks scheduler="poolTaskScheduler">
		<task:scheduled ref="autoPublishEntryJob" method="run" cron="1 0/1 * * * ?"/> <!-- 模版自动发布入口 -->
		<task:scheduled ref="autoPublishJob" method="run" cron="6 0/1 * * * ?" /> <!-- 新闻自动发布入口 -->
		<task:scheduled ref="operationIntoDBJob" method="run" cron="15 0/10 * * * ?" />  <!-- 操作纪录入库 -->
	</task:scheduled-tasks>
</beans>
