<div class='sidebar-menu'>
	<div class="sidebar-toggler"></div>
	<div class="webapp-tab">
		<ul>
			<li class='current'>WEB</li>
			<li>APP</li>
		</ul>
	</div>
	<div class="menubar">
		<div class="pub-menu">
			<ul>
				<li class="active">
					<a href='index.html'>
						<i class="icon-home"></i>
						<span class="title">首页</span>
						<span class="selected"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="option">
			<ul>
				<li>
					<a javascript:;>
						<i class="icon-file-text"></i>
						<span class="title">新闻管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a ui-sref="news.add" ui-sref-opts="{reload:true}">
								<i class="icon-plus"></i>
								<span class="title">新闻添加功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<i class="icon-edit"></i>
								<span class="title">新闻编辑器功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<i class="icon-file-text"></i>
								<span class="title">新闻发布生成功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<i class="icon-file"></i>
								<span class="title">新闻管理功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">新闻搜索功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">新闻微博分享</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-user"></i>
						<span class="title">用户管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<i class="icon-align-justify"></i>
								<span class="title">新增用户功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">用户清理功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">用户密码随机生成功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">用户身份认证功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">用户密码管理功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">管理员指定功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">自动登录功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">用户列表</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">权限管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">权限限制</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">用户权限添加</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">用户权限删除</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">超级管理员</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li>
					<a javascript:;>
						<i class="icon-picture"></i>
						<span class="title">图片管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">图片上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片压缩功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片管理</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片筛选功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-film"></i>
						<span class="title">视频管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">视频上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">视频管理功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">视频筛选功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-folder-open"></i>
						<span class="title">模板管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">模板编辑</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">模板发布</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">模板数据提取</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">模板搜索</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-folder-close"></i>
						<span class="title">专题管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>

								<span class="title">专题发布功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">专题管理</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">专题数据提取</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">专题搜索功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-th-list"></i>
						<span class="title">频道管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">频道编辑</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">频道管理</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-th"></i>
						<span class="title">碎片管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">碎片编辑</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">碎片列表</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">碎片检索</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-signal"></i>
						<span class="title">统计管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">统计功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">统计展示</span>
							</a>
						</li>
					</ul>
				<li>

			</ul>
		</div>
		<div class="option" style="display:none;">
			<ul>
				<li>
					<a javascript:;>
						<i class="icon-file-text"></i>
						<span class="title">新闻管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">新闻添加功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">新闻编辑器功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">新闻发布生成功能</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">图片管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">图片上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片压缩功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">图片管理</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a javascript:;>
						<i class="icon-sitemap"></i>
						<span class="title">视频管理系统</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a javascript:;>
								<span class="title">视频上传功能</span>
							</a>
						</li>
						<li>
							<a javascript:;>
								<span class="title">视频管理功能</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>